# Exemplo de variaveis de ambiente
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASS=
# DB_NAME=estoqueti

# Auth (AD/LDAP)
# AD_ENABLED=false
# AD_URL=ldap://your-ad.local
# AD_BASE_DN=dc=empresa,dc=local
# AD_BIND_USER=cn=admin,dc=empresa,dc=local
# AD_BIND_PASS=change-me

# GLPI
# GLPI_API_URL=https://glpi.suaempresa.local/apirest.php
# GLPI_APP_TOKEN=change-me
# GLPI_USER_TOKEN=change-me
